.tasks {
  min-height: calc(100% - 10rem);
  margin-top: 10rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  & > .task-box {
    width: 80%;
    margin-bottom: 6rem;
    overflow: hidden;
    background: #E6DDC4;

    border-radius: .6rem;
    box-shadow: .2rem .2rem .5rem #181D3140;

    & > .task-box__header {
      padding: 1.4rem;

      display: flex;
      flex-wrap: wrap;
      align-items: center;

      background: #181D31;
      box-shadow: 0 .1rem .2rem #181D31;

      & > .title {
        flex: 1;
        color: #F0E9D2;
      }

      & > .length {
        margin-right: 2rem;
        color: #F0E9D2;

        font-size: 1.8rem;
        font-weight: 700;
      }
      & > .add {
        background: transparent;
        border: none;
        border-radius: .4rem;
        transition: all .2s ease;

        cursor: pointer;

        & > span {
          color: #F0E9D2;
          font-size: 3.4rem;
          font-weight: 700;
          transition: all .1s ease;
        }

        &:hover {
          & > span {
            color: #F0E9D2c0;
          }
        }
      }
    }

    & > .task-box__container {
      & > .task {
        padding: 2rem;

        position: relative;

        & > .task-title:focus,
        & > .task-description:focus {
          outline: none;
        }

        &::after {
          content: '';
          width: 100%;
          height: .2rem;

          background: #181D31;
          position: absolute;

          bottom: -.2rem;
          left: 0;

          box-shadow: 0 .1rem .2rem #678983;
        }

        & > .task-title {
          margin-bottom: 1rem;
          font-size: 2.4rem;
          overflow: hidden;
          text-overflow: ellipsis;

          font-weight: 700;
          letter-spacing: .1rem;
        }

        & > .task-description {
          margin-bottom: 2rem;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.6rem;
        }

        & > .task-content {
          width: 100%;
          padding: 2rem;
          margin-bottom: 2rem;
          overflow: hidden;
          text-overflow: ellipsis;

          font-size: 1.6rem;
          background: #F0E9D2;
        }

        & > .task-tags {
          width: 100%;

          display: flex;
          flex-wrap: wrap;

          & > .tag {
            padding: .8rem 1rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
            color: #F0E9D2;
            background: #678983;
            border-radius: .4rem;
            user-select: none;

            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: .1rem;
          }
        }

        & > .task-options {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          & > .update-button,
          & > .delete-button {
            padding: .8rem 1rem;
            overflow: hidden;

            border: .2rem solid transparent;
            border-radius: .6rem;
            cursor: pointer;
            transition: all .2s ease;

            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: .1rem;
            text-overflow: ellipsis;
          }

          & > .update-button {
            margin-right: 2rem;
            background: #181D31;
            color: #F0E9D2;


            &:hover {
              background: #F0E9D2;
              color: #181D31;
              border: .2rem solid #181D31;
            }
          }

          & > .delete-button {
            background: #F55353;
            color: #F0E9D2;

            & > span {
              color: #F0E9D2;
            }
            &:hover {
              background: #F0E9D2;
              color: #F55353;
              border: .2rem solid #F55353;

              & > span {
                color: #F55353;
              }
            }
          }
        }
      }
      & > .task-null {
        padding: 2rem;
        font-size: 1.8rem;
      }
    }
  }
}
